services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: algorena
      POSTGRES_PASSWORD: algorena
      POSTGRES_DB: algorena-db
    volumes:
      - db_data:/var/lib/postgresql
    ports:
      - "5432:5432"

volumes:
  db_data: